*{
	margin:0;
	padding:0;
	outline:none;

}

body {
	background:url(../gifs/fond.jpg);
	
}



#container {
	width:100%;
	position:relative;  
	padding-top:282px;
}

#ref {
	color:#666;
	text-align:center;
	position:absolute;
	left:0;
	bottom:-10px;
	width:100%;
}

#content {
	position:relative;
}

/********* HEADER ***********/

#header_frame {
	width:100%;
}

#header {
	height:400px;
	width:1000px;
	margin:0 auto;
	position:relative;
}


#logo_ciel {
	height:334px;
	width:323px; 
	float:left;
	margin-left:290px;
	margin-top:0px;
	position:relative;
	clear:both;
	display:block;
    -webkit-transition:-webkit-transform .5s;
    -moz-transition:-moz-transform .5s;       
    -o-transition:-o-transform .5s;          
    -ms-transition:-ms-transform .5s;         
    transition:transform .5s;
}

#logo_ciel:hover {
  -webkit-transform:rotate(30deg); 
  -moz-transform:rotate(30deg);
  -o-transform:rotate(30deg); 
  -ms-transform:rotate(30deg); 
  transform:rotate(30deg);
}

#menu {
	position:absolute;
	bottom: -15px;
	right:190px;
}


#menu li {
	list-style-type:none;
	float:left;
}

#menu li a {
	font-family: 'Courgette', cursive;
	color: #D82222;
	text-decoration: none;
	height:64px;
	width:182px;
	display:block;
	text-align:center;
	line-height:50px;
}

#menu a:hover, #menu .en-cours {
	background:url(../gifs/hover_menu.png) no-repeat;
	background-position: center center;
	color: #FFF;
}


/********* CORPS ***********/
#content {
min-height:500px;
width:1000px;
margin:0 auto;

}

/********* FOOTER ***********/
#footer {
	height:364px;
	width:1000px;
	margin:0 auto;
	background:url(../gifs/footer.png) no-repeat;
	position:relative;
	
}

#footer_frame {
	width:100%;
	background:url(../gifs/backfooter_frame.jpg) repeat-x bottom;
	margin-top:330px;	
}

#menufooter {
	display:none;
}


 #banderolle {
	background-image:url(../gifs/banderolle_avion.png);
	width:526px;
	height:58px;
	position:absolute;
	left:215px;
	top:-114px;
 }
 
 #banderolle:hover {
	 background-image:url(../gifs/hover_banderolle_avion.png);
	 width:526px;
	 height:58px;
	 display:block;
 }

/********* CARROUSEL *********/


#carrousel_frame {
	border:10px solid #D82222;
	border-radius:10px;
	height:200px;
	width:500px;
	margin-top:170px;
	margin-left:260px;
	position:relative;
}

.bx-wrapper {
	width:500px;
	height:200px;
}

.bx-window {
	
	width:500px;
	height:200px;
	/* overflow: visible !important; */
}

.bx-prev {
	background-image:url("../gifs/fleche_gauche.png");
	width:109px;
	height:90px;
	display:block;
	position:absolute;
	top:50px;
	right:560px;
}

.bx-prev:hover {
	background-image:url("../gifs/fleche_gauche.png");
	transform:rotate(360deg);
	animation: bounceOut 0.7s ease-in-out;	
}

.bx-next {
	background-image:url("../gifs/fleche_droite.png");
	width:110px;
	height:90px;
	display:block;
	position:absolute;
	top:50px;
	left:560px;
}

.bx-next:hover {
	background-image:url("../gifs/fleche_droite.png");
	transform:rotate(360deg);
	animation: bounceOut 0.7s ease-in-out;	
}

/*********SOCIAL*********/
#facebook {
	background:url("../gifs/logo_linkedin.png") no-repeat 0 40px transparent;
	width:78px;
	height:86px;
	position:absolute;
    top:52px;
	left:368px;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
	-saf-transition: all 0,5s ease 0s;
	-o-transition: all 0,5s ease 0s;
	-ms-transition: all 0,5s ease 0s;
	
}


#facebook:hover{
background: url("../gifs/logo_linkedin.png") no-repeat scroll 0 10px transparent;
height: 85px;
width: 81px;
}

#fb {
	height:7px;
	width:41px;
	position:relative;
	top:129px;
	left:359px;
}

#twitter {
	background:url("../gifs/logo_twitter.png") no-repeat 0 40px transparent;
	width:78px;
	height:86px;
	position:absolute;
	top:50px;
	left:568px;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
	-saf-transition: all 0,5s ease 0s;
	-o-transition: all 0,5s ease 0s;
	-ms-transition: all 0,5s ease 0s;
}

#twitter:hover {
	background:url("../gifs/logo_twitter.png") no-repeat scroll 0 10px transparent;
	height:85px;
	width:82px;
}

#tw {
	height:11px;
	width:98px;
	position:relative;
	top:120px;
	left:558px;
}



/*********TEXTE*********/

#text_accueil {
	background-image:url(../gifs/separationetoile.png);
	width:836px;
	height:21px;
	margin-top:100px;
	margin-left:100px;
}

#text_accueil p {
	margin-left:235px;
	font-family: 'Courgette', cursive;
	font-size:30px;
	line-height:20px;
}

#text_presentation {
	margin-top:50px;
	font-family: 'Quando', cursive;
	font-size:16px;
	line-height:30px;
	text-align:left;
    border:solid 1px transparent;
    width:547px;
    margin-left:258px;
    bottom:10px;
	position:relative;
}


#bulle {
background:url(...) no-repeat;
width:754px;
height:732px;
position:relative;
left:205px;
top:-50px;
}

#bulle p {
border: solid #D82222 10px transparent;
border-radius:10px;
width:520px;
padding: 5px 5px 5px 5px;
position:relative;
top:255px;
left:48px;
font-size:12px;
text-align:justify;
font-family: 'Quando', cursive;
line-height:30px;
}

/**********GALLERIE PORTFOLIO**********/

div#galerie
{
  width: 515px ;
  padding: 180px ;
  position:relative;
  top:-20px;
  left:25px;
}

ul#galerie_mini
{
  border:1px solid #000000 transparent;
  height:750px;
  position:absolute;
  top:865px;
  margin-left:-48px;
  list-style-type:none;
}

ul#galerie_mini li
{
float:left;

}

ul#galerie_mini li a img
{
  margin: 2px 5px ;
  border: 8px solid #D82222;
  border-radius:10px;
  
}

ul#galerie_mini li a img:hover {
	border: 8px solid #C63;
	border-radius:10px;
}


dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
  display:none;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 8px solid #D82222 ;
  border-radius:10px;
  margin-left:-50px;
  margin-top:-95px;
}

/**********CV***********/

#titrexp {
	position: relative;
	color: #D82222;
	font-family: 'Courgette', cursive;	
	margin-top: -490px;
	margin-left: 400px;
	font-size: 2em;
	
}

#titreform {
	position: absolute;
	color: #D82222;
	font-family: 'Courgette', cursive;
	margin-top: -40px;
	margin-left: 760px;
	font-size: 2em;
}

#colonnea
{
  list-style: url(../cvimg/images/etoile_big.png);
  font-family: 'Quando', cursive;
  font-size:14px;
  line-height:30px;
  text-align:left;
  border:solid 1px transparent;
  width:142px;
  margin-top:140px;
  margin-left:30px;
  bottom:-90px;
  position:relative;
}

#colonneb
{
  list-style: url(../cvimg/images/etoile_big.png);
  font-family: 'Quando', cursive;
  font-size:14px;
  line-height:30px;
  text-align:justify;
  border:solid 1px transparent;
  width:224px;
  margin-top:-362px;
  margin-left:400px;
  bottom:-150px;
  position:absolute;
}


#colonnec
{
  list-style: url(../cvimg/images/etoile_big.png);
  font-family: 'Quando', cursive;
  font-size:14px;
  line-height:30px;
  text-align:left;
  border:solid 1px transparent;
  width:200px;
  margin-top:-453px;
  margin-left:863px;
  bottom:-50px;
  position:absolute;
}

#poneya
{
margin-left:214px;
margin-top: 70px;
position:absolute;
}

#poneyb
{
margin-left:672px;
margin-top: 70px;
position:absolute;
}

